<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Stepping Stone Education Foundation</title>

    <!--<link href="../Content/steppingstone.css" rel="stylesheet" />
    <link href="../assets/Style.css" rel="stylesheet" />-->
    <link href="../Content/css/stylesheet1.css" rel="stylesheet" />
    <!--<link href="../Content/css/StyleSheet2.css" rel="stylesheet" />-->

    <!--<script src="https://code.angularjs.org/tools/system.js"></script>-->

</head>
<body>

    <!--<div style="height:200px; text-align:center; vertical-align:middle; font-size:20px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <br /><br /> <br />
        <b>STEPPING STONE <br /> EDUCATION FOUNDATION</b>
    </div>

    <div  style="height:50px; text-align:center; vertical-align:middle">
       THE WEB SITE IS CURRENTY UNDER CONSTRUCTION
    </div>

    <div  style="height:50px; text-align:center">
        <b>  C O M M I N G  &nbsp; S O O N </b>
    </div>-->

    <div><img src="../images/stbanner.jpg" alt="Stepping Stones Education Foundation" /></div>

    <div>




        <div *ngIf="!IsAdmin">
            <nav class='navbar navbar-inverse'>
                <div class='container-fluid'>
                    <div>
                        <ul class='nav navbar-nav'>
                            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li><a [routerLink]="['home']">Home</a></li>
                            <li><a [routerLink]="['aboutus']">About Us</a></li>
                            <li><a [routerLink]="['mission']">Mission</a></li>
                            <li><a [routerLink]="['project']">Projects</a></li>
                            <li><a [routerLink]="['ourapproach']">Our Approach</a></li>
                            <li><a [routerLink]="['howtoinvolve']">How To Involve</a></li>
                            <li><a [routerLink]="['contactus']">Contact Us</a></li>
                            <!--<li><a href="#"><span (click)="Userlogin()">Login</span></a></li>-->
                        </ul>

                        <div class='navbar navbar-inverse pull-right'>
                            <div class='container-fluid'>
                                <ul class='nav navbar-nav'>
                                    <li class="pull-right"><a [routerLink]="['user']" (click)="Userlogin()">Login</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

        </div>

        <!--li class="pull-right"><a [routerLink]="['user']">Login</a></li>
               <li>
        <div style="padding-bottom:10px;" class="pull-right"><button class="btn btn-primary" (click)="Userlogin()">Login</button></div>
        </li>-->

        <div *ngIf="IsAdmin">
            <nav class='navbar navbar-inverse'>
                <div class='container-fluid'>
                    <div>
                        <ul class='nav navbar-nav'>

                            <li><a [routerLink]="['aboutusadmin']">About Us</a></li>
                            <li><a [routerLink]="['missionadmin']">Mission</a></li>
                            <li><a [routerLink]="['projectadmin']">Project</a></li>
                            <li><a [routerLink]="['ourapproachadmin']">Our Approach</a></li>
                            <li><a [routerLink]="['howtoinvolveadmin']">How To Involve</a></li>
                            <li><a [routerLink]="['contactusadmin']">Contact Us</a></li>
                        </ul>

                        <div class='navbar navbar-inverse pull-right'>
                            <div class='container-fluid'>
                                <ul class='nav navbar-nav'>
                                    <li *ngIf="IsAdmin"><a href="#"><span (click)="logout()">Logout</span></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </nav>
    </div>



    <!--<nav class='navbar navbar-inverse' *ngIf="IsAdmin">
        <div class='container-fluid'>
            <ul class='nav navbar-nav'>
                <li><a [routerLink]="['user']">Logout</a></li>
                <li><a [routerLink]="['aboutusadmin']">About Us</a></li>
                <li><a [routerLink]="['missionadmin']">Mission</a></li>
                <li><a [routerLink]="['projectadmin']">Project</a></li>
                <li><a [routerLink]="['ourapproachadmin']">Our Approach</a></li>
                <li><a [routerLink]="['howtoinvolveadmin']">How To Involve</a></li>
                <li><a [routerLink]="['contactusadmin']">Contact Us</a></li>
            </ul>
        </div>
    </nav>-->

    <div class='container' style="min-height:700px;">
        <router-outlet></router-outlet>
    </div>
    </div>


    <modal #modal>
        <form novalidate (ngSubmit)="onSubmit(userFrm)" [formGroup]="userFrm">

            <modal-header [show-close]="true">
                <h4 class="modal-title">Adminstration Login</h4>
            </modal-header>
            <div>
                To access Administration site, please enter username and password.
            </div>
            <modal-body>
                <modal-body>
                    <div style="color:red">
                        {{msg}}
                    </div>
                    <div class="form-group">
                        <div>
                            <span>User Name*</span>
                            <input type="text" class="form-control" placeholder="User Name" formControlName="UserName" width="200">
                        </div>
                        <div>
                            <span>Password*</span>
                            <input type="password" class="form-control" placeholder="Password" formControlName="Password" width="150">
                        </div>
                    </div>
                </modal-body>
                <modal-footer>
                    <div>
                        <button type="submit" [disabled]="userFrm.invalid" class="btn btn-primary">Submit</button>
                        <a class="btn btn-default" (click)="modal.dismiss()">Cancel</a>
                    </div>
                </modal-footer>
            </modal-body>
        </form>
    </modal>

    <div class="footer">
        <br /> <br />&#9400;2019 Steppingstoneef.org <br />
        All Right Reserved. 
    </div>

</body>
</html>