<div style="padding-left:25px;">
    <div class="card">
        <div class="card-body">
            <div class="container-fluid" style="width:47%; float:left;">
                <div *ngFor="let ourapproach of ourapproaches">
                    <div class="pagetitle">{{ourapproach.Title}}</div>
                    <div [innerHtml]="ourapproach.Description"></div>
                </div>
            </div>
        </div>
        <div style="width:53%; float:left; clear:right">
            <img src="../../images/schoolsupplies.jpg" style="width:100%"/>
        </div>
    </div>
</div>
<div>
    <!--<img src="../../images/Our Approach.jpg" style="text-align:center; width:100%; height:100%" />-->
</div>