body
{
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url('../images/bg.jpg');
    font-family: Verdana;
    font-size: 12px;
    line-height:20px;
}

#container
{
    position: absolute;
    height: 100%;
    width: 100%;
    
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    
    
    
} 

#container1
{
    position: relative;
    
    top: -10px;
    width: 976px;
      
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 0px;
    
    border-color: #CCCCFF;
    border-style: solid solid solid solid;
    border-width: 1px 1px 1px 0px;
    text-align: center;
} 
 
.topmenu
{
    float: left;
    border: 0px;
    padding: 0px 0px 0px 0px;
    
    
}

.homepicture
{
    float: left;
    border: 0px;
    padding: 0px 0px 0px 0px;
}

#content
{
    padding: 20px;
    border-color: #CCCCFF;
    border-style: solid solid solid solid;
    border-width: 0px 0px 0px 1px;
    text-align:justify;
    line-height:20px;
    height:auto;
    background-color:White;
    
    color:#000033;
   
    
}  
.title
{
    font-family: Verdana;
    font-size: 12px;
    font-weight:bold;
    color: #000033;
    
}

.pagetitle
{
    font-family: Verdana;
    font-size: 12px;
    font-weight:bolder;
    color: #000033;
    text-transform:uppercase;
}

#aboutltc
{
     background-image:url("../images/aboutltc.jpg");    
     background-repeat:no-repeat;
     
}



.header
{
    /*border-color: #CCCCFF;
    border-style: solid solid solid solid;
    border-width: 0px 0px 0px 0px;*/
        
    /*background-image: url('../images/bg.jpg');
    background-color:#f5f8f9;*/
    font-family: Verdana;
    font-size: 12px;
    padding:0px 0px 0px 20px;
    
    font-weight:bolder;
    /*text-transform:uppercase;*/
    
    
    color:#000033;
    /*width:855px;*/
    
}

.header1
{
    /*border-color: #CCCCFF;
    border-style: solid solid solid solid;
    border-width: 1px 1px 1px 1px;
        
    background-color:#edf4f9;
    

    -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;
           -webkit-transition: opacity .25s ease .1s; -moz-transition: opacity .25s ease .1s; -o-transition: opacity .25s ease .1s; -ms-transition: opacity .25s ease .1s; transition: opacity .25s ease .1s;*/
    font-family: Verdana;
    font-size: 12px;
    padding:0px 0px 0px 5px;
    margin-left: 20px;
    
    font-weight:bolder;
    /*text-transform:uppercase;*/
     
    
    line-height:20px;
    color:#000033;
    /*width:805px;
    padding-left:20px;*/
    width:300px;
    
    
    
}

.header2
{
    
    font-family: Verdana;
    font-size: 12px;
    padding:0px 0px 0px 0px;
    
    
    font-weight:bolder;
    /*text-transform:uppercase;*/
     
    
    line-height:20px;
    color:#000033;
    
    
    
    
}
.description
{
    /*border-color: #CCCCFF;
    border-style: solid solid solid solid;
    border-width: 1px 0px 0px 0px;
     
        
    /*background-image: url('../images/descbg.jpg');*/
    font-family: Verdana;
    font-size: 12px; 
    padding:5px 20px 20px 20px;
    line-height:20px;
    color:#000033;
    text-align:justify;
    /*width:855px;*/
}

.description1
{
    /*border-color: #CCCCFF;
    border-style: solid solid solid solid;
    border-width: 1px 0px 1px 0px;*/
        
    /*background-image: url('../images/descbg.jpg');*/
    font-family: Verdana;
    font-size: 12px; 
   /* padding:10px 20px 0px 3px;*/
    line-height:20px;
    color:#000033;
    text-align:justify;
    /*margin-left:20px;*/
    /*width:805px;*/
    padding-left:20px;
    
}

.contactus
{
    
        
   
    font-family: Verdana;
    font-size: 12px; 
    color:#000033;
    
}

.toppicture
{
    border-color: #CCCCFF;
    border-style: solid solid solid solid;
    border-width: 0px 1px 0px 1px;
        
    
}

.career
{
    /*border-color: #CCCCFF;
    border-style: solid solid solid solid;
    border-width: 1px 1px 1px 1px;
        
    background-color:#f5f8f9;*/
    
    font-family: Verdana;
    font-size: 12px;
    padding:6px 6px 6px 20px;
    
    /*text-transform:uppercase;*/
    font-weight:bolder;
    
    line-height:20px;
    color:#000033;
    /*width:855px;*/
    
}
input[type=text]{width: 300px;padding: 4px;color: #000066;font-family: Verdana;font-size: small;border: 1px solid #cecece;}
textarea{padding: 4px;color: #000066;font-family: Verdana;font-size: small;border: 1px solid #cecece;}
img
{
       border:0px;
      border-width: 0px 0px 0px 0px;
      padding:0px;
}

li
{
    list-style-image: url('../images/list.jpg');
}

.footer
{
      
    border-color: #CCCCFF;
    border-style: solid solid solid solid;
    border-width: 1px 0px 0px 1px;
    text-align: center;
    
    font-family: Verdana;
    font-size: 11px;
    color: #666666;
    height:100px;
    padding: 10px 150px 10px 150px;
     
    background-image: url('../images/footerbg.gif');
    letter-spacing:1px;
}

.footer1
{
      
    
    text-align: center;
    
    font-family: Verdana;
    font-size: 12px;
    color: #666666;
    
    letter-spacing:1px;
}

.footer ul li
{
	display:list-item;
	text-align:left;
	list-style-image:none;
	line-height:25px;
	vertical-align:top;
     list-style-type:none;
     text-decoration:none;
}

.footer ul li a
{
    text-decoration:none;
    color: #666666;
     letter-spacing:1px;
 }

.footer ul li a:hover
{
    text-decoration:none;
    color: #0066ff;
    
 }
 
.title
{
	color:#0879ae;
	
	 font-weight:bold;
}

.boldtext
{
	
	
	 font-weight:bold;
}

a
{
	color:#003366;
	/*text-decoration:none;*/
}
a:hover
{
	text-decoration:underline;
	color:#0066ff;
}
a:click
{
	color:#ff6600;
}

.list
{
    
    font-family: Verdana;
    font-size: 12px;
    padding:0px 0px 0px 20px;
    
    font-weight:bolder;
   
    
    
    color:#000033;
    line-height:30px;
    
}

.capability
{
    border-color: #CCCCFF;
    border-style: solid solid solid solid;
    border-width: 1px 1px 1px 1px;
        
    background-color:#f5f8f9;
    
    
    
    font-family: Verdana;
    font-size: 12px;
    padding:6px 10px 6px 20px;
    
    
    font-weight:bold;
    
    line-height:20px;
    color:#000033;
    
     -webkit-border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; border-radius: 10px 10px 10px 10px;
           -webkit-transition: opacity .25s ease .1s; -moz-transition: opacity .25s ease .1s; -o-transition: opacity .25s ease .1s; -ms-transition: opacity .25s ease .1s; transition: opacity .25s ease .1s;
   
    
    
}

.company
{
    
 color:#0033ff;
 font-weight:bold;   
 }
 
 #capability a
{
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    color: #808080;
    text-decoration: none;
}
 #capability a:hover
{
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    color: #0066ff;
    text-decoration: none;
}
.service
{
    
    font-family: Verdana;
    font-size: 12px;
    font-weight:bolder;
    line-height:20px;
    color:#000033;
    
    /*border-color: #CCCCFF;
    border-style: solid solid solid solid;
    border-width: 1px 1px 1px 1px;
    
    background-color:#edf4f9;
    
    -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;
           -webkit-transition: opacity .25s ease .1s; -moz-transition: opacity .25s ease .1s; -o-transition: opacity .25s ease .1s; -ms-transition: opacity .25s ease .1s; transition: opacity .25s ease .1s;*/
           
    font-family: Verdana;
    font-size: 12px;
    padding:0px 0px 0px 0px;
    width:300px;
    
    
    
       
}
.capstm
{
    
 width:976px;
 text-align:right;    
}

.service a
{
text-decoration:none;    
}
.header1 a
{
text-decoration:none;    
}
