<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    
    <div style="background-image:url(../../images/steppingstone.jpg); background-position: center;background-size: 100%; background-repeat: no-repeat; height:700px; padding-top:0px; vertical-align:top">
        <div class="homepage" style="color:black;padding:20px">
            <!--<div>
                Stepping Stone Education Foundation serves as a support system to youth, seeking education by supplying necessary funds and resources.
            </div>
            <div>
                Stepping Stone Education Foundation aid, guide, and enrich underprivileged youth on grassroots level.
            </div>-->
        </div>

    </div>
 

    <!--<img src="../../images/steppingstones.jpg" style="text-align:center; width:100%; height:100%"  />-->
</body>
</html>