<!--<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div *ngFor="let about of aboutus">
                <div>Id:  {{about.Id}}</div>
                <div>Title:  {{about.Title}}</div>
                <div>Description:  {{about.Description}}</div>
            </div>
        </div>
    </div>
</div>-->

<div class='panel panel-primary'>
    <div class='panel-heading'>
        Mission Management
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div style="padding-bottom:10px"><button class="btn btn-primary" (click)="addMission()">Add</button></div>
            <!--<div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../images/loading.gif" width="32" height="32" /> Loading...</div>-->
            <div *ngIf='missions && missions.length==0' class="alert alert-info" role="alert">No record found!</div>
            <table class='table table-striped' *ngIf='missions && missions.length'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mission of missions">
                        <td>{{mission.Id}}</td>
                        <td>{{mission.Title}}</td>
                        <td><div [innerHtml]="mission.Description"></div></td>
                        <td>
                            <button title="Edit" class="btn btn-primary" (click)="editMission(mission.Id)">Edit</button>
                            <button title="Delete" class="btn btn-danger" (click)="deleteMission(mission.Id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
            </div>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>

<modal #modal>
    <form novalidate (ngSubmit)="onSubmit(missionFrm)" [formGroup]="missionFrm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>

            <div class="form-group">
                <!--<div style="visibility:hidden">
                    <span>ID*</span>
                    <input type="text" class="form-control" placeholder="Id" formControlName="Id">
                </div>-->
                <div>
                    <span>Title*</span>
                    <input type="text" class="form-control" placeholder="Title" formControlName="Title">
                </div>
                <div>
                    <span>Description*</span>
                    <textarea rows="5" class="form-control" placeholder="Description" formControlName="Description"></textarea>
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <div>
                <button type="submit" [disabled]="missionFrm.invalid" class="btn btn-primary">{{modalBtnTitle}}</button>
                <a class="btn btn-default" (click)="modal.dismiss()">Cancel</a>
            </div>
        </modal-footer>
    </form>
</modal>
