<div style="padding-left:25px;">
    <div class="card">
        <!--<div class="card-header">
            {{pageTitle}}
        </div>-->
        <div class="card-body">
            <div class="container-fluid">
                <div *ngFor="let mission of missions">
                    <div class="pagetitle">{{mission.Title}}</div>
                    <div [innerHtml]="mission.Description"></div>
                    <div style="line-height:normal">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>
