<div style="padding-left:25px;">

    <div class="card">
        <div class="card-body">
            <div class="container-fluid">
                <div *ngFor="let contact of contactus">
                    <div class="pagetitle">{{contact.Title}}</div>
                    <div [innerHtml]="contact.Description"></div>
                </div>
            </div>
        </div>
    </div>

    <div style="padding-left:25px;">
        <div>{{msg}}</div>
        <div>
            <form novalidate (ngSubmit)="onSubmit(contactusFrm)" [formGroup]="contactusFrm">
                <div class="form-group">
                    <div>
                        <span>First Name*</span>
                        <input type="text" class="form-control" placeholder="First Name" formControlName="FirstName">
                    </div>
                    <div>
                        <span>Last Name*</span>
                        <input type="text" class="form-control" placeholder="Last Name" formControlName="LastName">
                    </div>
                    <div>
                        <span>Email*</span>
                        <input type="text" class="form-control" placeholder="Email Address" formControlName="Email">
                    </div>
                    <div>
                        <span>Message*</span>
                        <textarea rows="5" class="form-control" placeholder="Message" formControlName="Message" style="width:75%"></textarea>
                    </div>
                </div>

                <div style="padding-bottom:20px;">
                    <button type="submit" [disabled]="contactusFrm.invalid" class="btn btn-primary">Submit</button>
                </div>

            </form>
        </div>
    </div>

</div>